<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Recommend products</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

<style>
  table, th, td {
    border: 1px solid black;
    padding: 15px;
  }
  </style>

</head>

<body>
 <div class="login" style="text-align:center;">
	<h1 style="text-align:center;">Recommend Top 5 Products</h1>
    <form action="{{ url_for('recommend_top5')}}"method="POST">
      <input type="text" name="User" placeholder="Try any of the following" required="required" /><br>
      <br>
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
   <br>
   <br>
 </div>
 <div class="alert alert-success" role="alert" style="color:blue;text-align:center;font-size:160%;">
 {{ text }}
 <br>
</div>

<div>
<table class="table table-striped" style="text-align:center;">
  <thead>
    <tr>
        {% for col in col_names %}
            <th>{{ col }}</th>
        {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for product, brand, manufacturer in product_data %}
    <tr>      
      <td>{{ product }}</td>
      <td>{{ brand }}</td>
      <td>{{ manufacturer }}</td>      
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


</body>

</html>
