<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Recommend products</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
 <div class="login">
	<h1>Recommend Top 5 Products</h1>
    <form action="{{ url_for('recommend_top5')}}"method="POST">
      <input type="text" name="User" placeholder="Try any of the following" required="required" /><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
   <br>
   <br>
 </div>
 <div class="alert alert-success" role="alert">
 {{ text }}
</div>

<div>
<table class="table table-striped">
  <thead>
    <tr>
        {% for col in col_names %}
            <th>{{ col }}</th>
        {% endfor %}
    </tr>
  </thead>

  <tbody>
    {% for product, brand, manufacturer in product_data %}
    <tr>      
      <td>{{product}}</td>
      <td>{{brand}}</td>
      <td>{{manufacturer}}</td>      
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


</body>

</html>
